<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFinal.My.MySettings.cn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Adolfo Baez\Desktop\contactos1.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ProyectoFinal.My.MySettings.ContactosfConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Adolfo Baez\source\repos\ProyectoFinal\Contactosf.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ProyectoFinal.My.MySettings.ContactostfConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Adolfo Baez\source\repos\ProyectoFinal\Contactostf.mdb&quot;"
            providerName="System.Data.OleDb" />
      
      <add name="ProyectoFinal" connectionString="Data Source=ADOLFOPC\SQLEXPRESS;Initial Catalog=ProyectoFinal;Integrated Security=True" providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  
</configuration>